[submodule "article_32245_gdal"]
	path = article_32245_gdal
	url = https://github.com/sorabatake/article_32245_gdal.git
[submodule "src/mmdetection"]
	path = src/mmdetection
	url = https://github.com/open-mmlab/mmdetection.git
